
:root{
    --primaryColor: #fbf9ef; 
    --secondaryColor: #423840;
    --headingFont: 'Encode Sans', Sans-serif ;
    --contentFont: 'Inter', sans-serif;
    --accentColor: #17bebb;
    --buttonColor: #296eb4;
    --accentColor2: #131315;
    --visited: #d1101d;

}

